.about-hero {
    text-align: center;
    margin-bottom: 4rem;
}

.about-content {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

.about-text {
    flex: 2;
}
