.contact-hero {
    text-align: center;
    margin-bottom: 4rem;
}

.contact-form-section {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.contact-form-container {
    flex: 2;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-info {
    flex: 1;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.contact-info h3 {
    margin-top: 0;
}

.contact-info p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
